* {
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 0;
}

ul {
    list-style-type: none;
 }

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.hidden {
  display: none;
}

.container {
  background-color: #ffffff;
  display:table;
  width: 100%;
  height:100%;
  margin-top: 0px;
  padding: 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
  position: relative;
}

.row {
    height: 100%;
    display: table-row;
}

.col-md-4 {
  background-color: #666666;
  color: #cccccc;
  height: 100%;
}

.col-md-8 {
  background-color: #e8e8e8;
  height: 100%;
}



#login-message {
  background-color: #ffe6b3;
  border: solid 1px #2D3142;
  margin: 10px auto;  
}

#waiting-message {
  text-align: center;
  margin: 10px auto;  
}

.verified {
  font-weight: bold;
}

.middle {
  margin: 0 auto;
}

.usersSection h4 {
  color: #ffffff;
}

.usersSection a.btn-sm {
  float: right;
  margin: 3px 0 10px;
}

.usersSection input[type=radio] {
  display: none;
}

.usersSection label {
  padding: 6px 12px;
  width: 100%;
}

.usersSection .verified {
  color: #ffffff;
}

.usersSection label.current {
  background-color: #04a997;
  color: #ffffff;
}

.scroll,.messages {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 0px;
  bottom: 100px;
  overflow-y: auto;
}

.messageInput {
  position:fixed;
  top: 100%;
  margin-top: -75px;
  height: 75px;
  padding-right: 100x;
}

li.message {
  padding-bottom: 15px;
}

li.message .time {
  color: #666666;
  font-size: 85%;
}

#send_message {
  cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}