* {
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 0;
}

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.header {
  width: 100%;
  background-color: #32DBBD;
  color: #fff;
  font-family: 'Galada', cursive;
  overflow: hidden;
  text-align: center;
}




main {
  position: relative;
  height: 100%;
  background-color: #eee;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}



#login-message {
  background-color: #ffe6b3;
  border: solid 1px #2D3142;
  padding: 5px;
  margin: 10px auto;  
}

#waiting-message {
  text-align: center;
  margin: 10px auto;  
}

#accountsList .verified {
  font-weight: bold;
  color: #006600;

}

.middle {
  margin: 0 auto;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}