* {
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 0;
}

ul {
    list-style-type: none;
 }

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.hidden {
  display: none;
}

.container {
  background-color: #ffffff;
  display:table;
  width: 100%;
  height:100%;
  padding: 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
  position: relative;
}

.row {
    height: 100%;
    display: table-row;
}

.col-md-2, .col-md-4, .col-md-8{
  height: 100%;

}

.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;
  border-bottom: solid 1px #dddddd;
  text-align: right;
  padding: 5px;
}

.toolbar a {
  margin-left: 10px;
}

#logoutBtn {
  padding-right: 10px;
}

#alertsHolder {
  position: relative;
  top: 45px;
  z-index: 100;
  width: 60%;
  margin: 0 auto;
}

.scroll {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 80px;
  overflow-y: auto;
}

.messages-section {
  top: 30px;
}

.fixed-bottom {
  position:absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  margin-top: -75px;
  height: 75px; 
}

.login_section {
  padding-top: 50px;
}

.login_section .form-group {
  position: relative;
}

.login_section .glyphicon-ok-sign {
  color: #5cb85c;
}

.login_section .glyphicon-exclamation-sign {
  color: rgba(249, 164, 0, 1);
}

#userSeed {
  display: inline-block;
  width: 100%;
}

#seedChecksum {
  position: absolute;
  right: 10px;
  top: 6px;  
}

#login-message {
  background-color: #ffe6b3;
  border: solid 1px #2D3142;
  margin: 10px auto;  
}

#waiting-message {
  text-align: center;
  margin: 10px auto;  
}

.verified {
  font-weight: bold;
}

.middle {
  margin: 0 auto;
}

.users-section {
  padding: 20px;
  background-color: #123d43;
  color: #5D939B;
  height: 100%;
}

.users-section h4 {
  color: #ffffff;
}

.users-section .btn-xs, .users-section a {
  color: #5D939B;
}

.users-section .btn-xs {
  border-color: #5D939B;
  background-color: #123d43;
}

.users-section .add-user.btn-xs {
  margin:8px 0 10px;
  border-radius: 12px;
}

.users-section a {
  float: right;
}

.users-section input[type=radio], #messagesList input[type=radio], #deletedContactsList input[type=radio] {
  display: none;
}

.users-section label {
  padding: 6px 6px 6px 12px;
  width: 100%;
}

.users-section li > span.glyphicon {
  margin: 0 0 5px 12px;
}

.users-section li > span.status {
  display: inline-block;
  padding: 6px 0px 6px 3px;
  margin-bottom: 5px;
}

.users-section label .new-messages {
  float: right;
  display: block;
  border-radius: 10px;
  background-color: rgba(249, 164, 0, 1);
  color: #ffffff;
  font-size: 80%;
  padding: 2px 4px 2px 4px;
}

.users-section label.current {
  background-color: #04a997;
  color: #ffffff;
  border-radius: 5px;
}

.users-section label.current a.delete {
  color: #ffffff;
}

.messages-section, .message-input{ 
  padding: 20px;
}

.message-input {
  padding-top: 0px;
}

li.message {
  padding-bottom: 15px;
}

li.message .time {
  color: #666666;
  font-size: 85%;
}

li.message .deleteMessage {
  cursor: pointer;
  color: #dddddd;
}

#send_message {
  cursor: pointer;
}

.glyphicon-cog-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#configurationModal .modal-body:first {
  border-top: none 0px #ffffff; 
}

#configurationModal .modal-body {
  border-top: solid 1px #cccccc;
  padding-bottom: 30px; 
}

#configurationModal h5{
  color: #999999;
}
